<div class="container col-md-8 text-center my-5">
    
    <br>
    <div class="col-xs-12" align="center">
        <img src="images/me.png" height="200" width="auto"><br><br><br>
        <P class = "h5">Jin Kim (김진경)</P>
        <p class = "h5"> PM  x  Data Scientist </p>
    </div>
</div>

<div class="container col-md-8 text-center">
    <p>Accepting challenges is the foundation of my life experiences and something I do with confidence.

Specialties: Process design and optimization, Data-driven decision making, Strategic planning and detail oriented execution, Finding pain points and problem solving, UX/UI improvements </p>
    <br>
</div>

<!--<div class="container col-md-8">
    <br>
    <p class = "h5">Areas of Expertise:</p>
    <br>
    <p> User experience/User interface improvements, Process design and optimization, </p>
    <p> Data-driven decision making, Strategic planning and detail oriented execution, </p>
    <p> Finding pain points and problem solvin </p>

    <!--
    <ul class="list-group"></ul>
        <li class="list-group-item">User experience/User interface improvements</li>
        <li class="list-group-item">Process design and optimization</li> 
        <li class="list-group-item">Data-driven decision making</li>
        <li class="list-group-item">Strategic planning and detail oriented execution</li>
        <li class="list-group-item">Finding pain points and problem solving</li>
    </ul>
    -->
    <!--<br><br>
</div>

<div class="container col-md-8">
    <br>
    <p class = "h5">Work Experience:</p>
    <br>
    <div class = "row">
        <div class="col-md-9"> 
            <p> ebay Korea, Senior Program Manager </p>
            <p> ebay Korea, Senior Product Manager </p>
            <p> Gmarket, Product Manager</p>
            <p> Samsung Electronics, Intern </p>
        </div>
            
        <div class="col-md-3"> 
            <p> Aug 2018 - Present  </p>
            <p> Feb 2018 - Jul 2018  </p>
            <p> Aug 2011 - Dec 2015 </p>
            <p> Aug 2011 - Dec 2015 </p>
        </div>
    </div>
    <br><br>
</div>

<div class="container col-md-8">
    <br>
    <p class = "h5">Education:</p>
    <br>
    <div class = "row">
        <div class="col-md-9"> 
            <p> Certificate in Fullstack Web Development, Georgia Tech </p>
            <p> Certificate in Data Science, Johns Hopkins University </p>
            <p> B.S. in Economics and Business Administration, Ewha University </p>
        <p> &emsp; &emsp; Certificate in Fullstack Web Development, Georgia Tech </p>
            <p> &emsp; &emsp; Certificate in Data Science, Johns Hopkins University </p>
            <p> &emsp; &emsp; B.S. in Economics and Business Administration, Ewha University </p>
        </div>
            
        <div class="col-md-3"> 
            <p> Feb 2018 - Present </p>
            <p> Feb 2016 - July 2017 </p>
            <p> Aug 2011 - Dec 2015 </p>-->
        </div>
    </div>
    <br><br><br>
</div>







<!--
<section class="padd-top-30">
   


<div class="col-md-12">
    <br><br>

        
    <div class="col-md-12">
    <br>
                <h4 class="text center"> Education </h4>
            </div>
            <div class="col-md-9 animate-box"> 
                <p> &emsp; &emsp; Certificate in Fullstack Web Development, Georgia Tech </p>
                <p> &emsp; &emsp; Certificate in Data Science, Johns Hopkins University </p>
                <p> &emsp; &emsp; B.S. in Economics and Business Administration, Ewha University </p>
            </div>
            <div class="col-md-3 animate-box dates"> 
                <p> Feb 2018 - Present </p>
                <p> Feb 2016 - July 2017 </p>
                <p> Aug 2011 - Dec 2015 </p>
            </div>
        </div>

</div>


            <div class="clearfix"></div>
</section>

<br><br><br><br><br><br><br><br><br>
-->
