<div class="container col-md-8 text-center my-5">
   <!-- <P class = "h5">Projects</P>-->
    <br><br><br><br>
</div>

<section id="photos">
    <div class = "block">
        <a href="https://pupsatplay.herokuapp.com/"><img class = "image" src="images/pupsatplay.png" alt="Pups@Play">   
            <div class="middle">
                <p class = "h4">Pups@Play</p>  
                <p class = "h6">pups@play is a location-based, social search application that allows dog-lovers to find puppy friends for their best friend.</p>
            </div>
        </a>
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/Auto-Noms/"><img class = "image" src="images/autonoms.png" alt="Auto-Noms">
            <div class="middle">
                <p class = "h4">Auto-Noms</p>  
                <p class = "h6">We have created an application to auto-mate how our users decide what to eat.</p>
            </div>
        </a>
    </div>
    
    <div class = "block">
        <a href="http://letlovegrow.herokuapp.com/"><img class = "image" src="images/love.png" alt="Let Love Grow">
            <div class="middle">
                <p class = "h4">Let Love Grow</p>  
                <p class = "h6">let love grow is a MERN stack application that allows couples to have a social media exclusively for themselves.</p>
            </div>
        </a>
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/citibikeTableau"><img class = "image" src="images/nyc.png" alt="NYC">
            <div class="middle">
                <p class = "h4">Citi Bike</p>  
                <p class = "h6">about citi bike in NYC</p>
            </div>
        </a>    
    </div>

   <!-- <div class = "block">
        <a href="https://github.com/jinkkim/bAmazon"><img class = "image" src="images/amazon.png" alt="bAmazon">
            <div class="middle">
                <p class = "h4">bAmazon</p>  
                <p class = "h6">online shopping logic</p>
            </div>
        </a>    
    </div> -->

    <div class = "block">
        <a href="https://bbbio-diversity.herokuapp.com/"><img class = "image" src="images/data.png" alt="NYT_Search">
            <div class="middle">
                <p class = "h4">BellyButtonBiodiversity</p>  
                <p class = "h6">Built an interactive dashboard to explore the Belly Button Biodiversity DataSet.</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/Giphy/"><img class = "image" src="images/gif.png" alt="Dog Giphy Search">
            <div class="middle">
                <p class = "h4">Dog Giphy Search</p>  
                <p class = "h6">Find everything from funny GIFs, reaction GIFs, unique GIFs and more.</p>
            </div>
        </a>    
    </div>
    
    <div class = "block">
        <a href="https://github.com/jinkkim/petmatchers"><img class = "image" src="images/petmatchers.png"alt="Petmatchers">
                    <div class="middle">
                <p class = "h4">PetMatchers</p>  
                <p class = "h6">Our goal is to place animals with loving families. Hope you find your perfect match!</p>
            </div>
        </a>    
    </div>

        <div class = "block">
        <a href="https://jinkkim.github.io/trainSchedule/"> <img class = "image" src="images/train.png" alt="Traine Scheduler">
                    <div class="middle">
                <p class = "h4">Train Scheduler</p>  
                <p class = "h6">Try our simple, easy-to-use, yet powerful scheduling software, which aims to save time, accelerate sales, and improve service quality. </p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/project3_toxicityAnalyzer"><img class = "image" src="images/ml.png" alt="ML Project">
                    <div class="middle">
                <p class = "h4">Toxicity Analyzer</p>  
                <p class = "h6">The goal of this project is to build a machine learning model that is capable of detecting different types of toxic online comments.</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://github.com/mosleykc/Confabulators_Project_1/blob/master/notebooks/project1Final.ipynb"> <img class = "image" src="images/coffee.png" alt = "Productivity">
                    <div class="middle">
                <p class = "h4">Coffee and Productivity</p>  
                <p class = "h6">Increased coffee consumption correlates with increased productivity?</p>
            </div>
        </a>    
    </div>
    
</section>
<br><br>



















