<div class="container col-md-8 text-center my-5">
    <P class = "h5">Web Development Collection</P>
    <br><br><br><br>
</div>

<section id="photos">
    <div class = "block">
        <a href="https://pupsatplay.herokuapp.com/"><img class = "image" src="images/pupsatplay.png" alt="Pups@Play">   
            <div class="middle">
                <p class = "h4">Pups@Play</p>  
                <p class = "h6">Project</p>
            </div>
        </a>
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/Auto-Noms/"><img class = "image" src="images/autonoms.png" alt="Auto-Noms">
            <div class="middle">
                <p class = "h4">Auto-Noms</p>  
                <p class = "h6">Project</p>
            </div>
        </a>
    </div>
    
    <div class = "block">
        <a href="https://ffriendfinder-gt.herokuapp.com/"><img class = "image" src="images/friends.png" alt="Friend_Finder">
            <div class="middle">
                <p class = "h4">Friend Finder</p>  
                <p class = "h6">mySQL and Sequelize</p>
            </div>
        </a>
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/liri-node-app"><img class = "image" src="images/liri.png" alt="liri">
            <div class="middle">
                <p class = "h4">liri</p>  
                <p class = "h6">Node.js and express</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/bAmazon"><img class = "image" src="images/amazon.png" alt="bAmazon">
            <div class="middle">
                <p class = "h4">bAmazon</p>  
                <p class = "h6">jQuery and express</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/nytSearch/"><img class = "image" src="images/nyt.png" alt="NYT_Search">
            <div class="middle">
                <p class = "h4">NYT Search</p>  
                <p class = "h6">APIs and AJAX</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/Giphy/"><img class = "image" src="images/gif.png" alt="Dog Giphy Search">
            <div class="middle">
                <p class = "h4">Dog Giphy Search</p>  
                <p class = "h6">APIs and AJAX</p>
            </div>
        </a>    
    </div>
    
    <div class = "block">
        <a href="https://jinkkim.github.io/trainSchedule/"> <img class = "image" src="images/train.png" alt="Traine Scheduler">
                    <div class="middle">
                <p class = "h4">Train Scheduler</p>  
                <p class = "h6">Firebase and moment.js</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/Psychic-Game/"><img class = "image" src="images/psychic.png"alt="Psychic game">
                    <div class="middle">
                <p class = "h4">Psychic Game</p>  
                <p class = "h6">Javascript</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/TriviaGame/"><img class = "image" src="images/quiz.png" alt="Trivia game">
                    <div class="middle">
                <p class = "h4">Total Trivia</p>  
                <p class = "h6">Javascript and bootstrap</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/week-4-game/"> <img class = "image" src="images/bead.png" alt = "game">
                    <div class="middle">
                <p class = "h4">Gem Collector</p>  
                <p class = "h6">Javascript</p>
            </div>
        </a>    
    </div>
    
</section>
<br><br>



















