<div class="container col-md-8 text-center my-5">
    <P class = "h5">Projects</P>
    <br><br><br><br>
</div>

<section id="photos">
    <div class = "block">
        <a href="https://pupsatplay.herokuapp.com/"><img class = "image" src="images/pupsatplay.png" alt="Pups@Play">   
            <div class="middle">
                <p class = "h4">Pups@Play</p>  
                <p class = "h6">location-based social search for dog lovers for their best friend</p>
            </div>
        </a>
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/Auto-Noms/"><img class = "image" src="images/autonoms.png" alt="Auto-Noms">
            <div class="middle">
                <p class = "h4">Auto-Noms</p>  
                <p class = "h6">What do you want to eat?</p>
            </div>
        </a>
    </div>
    
    <div class = "block">
        <a href="http://letlovegrow.herokuapp.com/"><img class = "image" src="images/friends.png" alt="Friend_Finder">
            <div class="middle">
                <p class = "h4">Let Love Grow</p>  
                <p class = "h6">LET'S MAKE RELATIONSHIPS GREAT AGAIN!</p>
            </div>
        </a>
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/citibikeTableau"><img class = "image" src="images/liri.png" alt="liri">
            <div class="middle">
                <p class = "h4">Citi Bike</p>  
                <p class = "h6">About Citi Bike in NYC</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/bAmazon"><img class = "image" src="images/amazon.png" alt="bAmazon">
            <div class="middle">
                <p class = "h4">bAmazon</p>  
                <p class = "h6">Online shopping logic</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/nytSearch/"><img class = "image" src="images/nyt.png" alt="NYT_Search">
            <div class="middle">
                <p class = "h4">NYT Search</p>  
                <p class = "h6">News Search on NYT</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://jinkkim.github.io/Giphy/"><img class = "image" src="images/gif.png" alt="Dog Giphy Search">
            <div class="middle">
                <p class = "h4">Dog Giphy Search</p>  
                <p class = "h6">Dog Meme and Giphy</p>
            </div>
        </a>    
    </div>
    
    <div class = "block">
        <a href="https://jinkkim.github.io/trainSchedule/"> <img class = "image" src="images/train.png" alt="Traine Scheduler">
                    <div class="middle">
                <p class = "h4">Train Scheduler</p>  
                <p class = "h6">Firebase and moment.js</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/petmatchers"><img class = "image" src="images/psychic.png"alt="Psychic game">
                    <div class="middle">
                <p class = "h4">PetMatchers</p>  
                <p class = "h6">Thinking about animal adoption? Find your perfect match!</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://github.com/jinkkim/project3_toxicityAnalyzer"><img class = "image" src="images/quiz.png" alt="Trivia game">
                    <div class="middle">
                <p class = "h4">Toxicity Analyzer</p>  
                <p class = "h6">Test your toxicity level with Machine Learning!</p>
            </div>
        </a>    
    </div>

    <div class = "block">
        <a href="https://github.com/mosleykc/Confabulators_Project_1/blob/master/Coffee%20and%20Productivity.pdf"> <img class = "image" src="images/bead.png" alt = "game">
                    <div class="middle">
                <p class = "h4">Coffee and Productivity</p>  
                <p class = "h6">Increased coffee consumption correlates with increased productivity?</p>
            </div>
        </a>    
    </div>
    
</section>
<br><br>



















