
<div class="container d-flex justify-content-center footer mb-5">
	<div class="footercontent">
		<p>                                          
		&copy; 
		Copyright 
    	<script language="javascript" type="text/javascript">
			var today = new Date()
			var year = today.getFullYear()
			document.write(year + '.')
		</script> 
		<a href="http://github.com/jinkkim" class="links2" target="_blank">Jin Kim. </a> All Rights Reserved. 			
		
		<br>
		<div class = "container d-flex justify-content-around">
			<a style="color:black" href="https://www.linkedin.com/in/jinkingkim/"><i class='fa fa-linkedin-square'/></i></a>
        	<a style="color:black" href="http://www.github.com/jinkkim"><i class='fa fa-github-square'/></i></a>
			<a style="color:black" href="https://www.instagram.com/"><i class='fa fa-instagram'/></i></a>
			<a style="color:black" href="https://www.youtube.com/"><i class='fa fa-youtube-square'/></i></a>		
			<!--<a style="color:black" href="https://plus.google.com/"><i class='fa fa-google-plus-square'/></i></a>-->
		</div>	
		<!--<a href="/contact" class="links2">Contact</a>
		<a href="en/terms-of-use" class="links2">Terms of Use</a>
		<a href="en/privacy-policy" class="links2">Privacy Policy</a>
		<a href="http://www.etsy.com/" target="_blank" class="links2"><i class='fa fa-etsy'/></i></a>	-->								
	</p>
	</div>
</div>

